<div class="kpi-tile">
  <div class="kpi-value">{{value}}</div>
  <div class="kpi-label">{{label}}</div>
  {{#if note}}
  <div class="kpi-note">{{note}}</div>
  {{/if}}
  {{#if badge}}
  <div class="kpi-badge badge-{{badgeColor}}">{{badge}}</div>
  {{/if}}
</div>